*{
    box-sizing: border-box;
}

.title{
    background-color: lightgray;
    text-align: center  ;
    font-weight: bold;
    font-size: 30px;
}

.onglet{
    display: flex;
    justify-content: space-around;
}oui

.onglet li{
    list-style-type: none;
    padding: 20px;
}
.onglet li a{
    text-decoration: none;
    color: black;
    transition: .4s;
}
.onglet li a:hover{
    color: red;
}